.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30%;
    width: 100%;
    height: 10vh;
    background-color: rgb(70, 70, 255);
    padding-top: 1%;
    color: white;
}

.header h3 {
    margin: 0;
    font-size: 2rem;
}

.header a {
    cursor: pointer;
}

.header a:hover {
    color: lightgray;
}

.header p,
.header a {
    margin: 0;
    font-size: 2rem;
}

.divCalendario {
    display: flex;
    justify-content: center;
    margin: 3% auto;
    width: 50vw;
}

.calendario {
    width: 100%;
    font-size: 1.5rem;
}

.calendario button {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
    color: black;
}

.modal {
    width: 35rem;
    height: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: center;
    color: black;
    padding: 5%;
}

.modal h3, .modalEvento h3 {
    text-transform: capitalize;
    margin-bottom: 8%;
    margin-top: 0;
    font-size: 1.8rem;
}

.modal p, .modalEvento p {
    font-size: 1.5rem;
}

.modalEvento {
    width: 60rem;
    height: 35rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: center;
    color: black;
    padding: 3%;
}